{% extends "base.html" %}

{% block content %}
    <h1>Programma maken</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
            {{ form.datum}}
        <p>
            {{ form.activiteit.label }}<br>
            {{ form.activiteit(cols=32, rows=4) }}<br>
            {% for error in form.activiteit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <a href="{{ url_for('groep', email=current_user.email, id=programma.groep_id) }}">terug naar groep</a>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}