{% extends "base.html" %}

{% block content %}
    <h1>Leider: {{leider}}</h1>
    <div></div><td>Groep: <a href="{{ url_for('groep', email=current_user.email, id=leider.groep_id) }}"> {{leider.groep}}</a></td></div>
    <div><td>Strepen: {{leider.strepen}}</td></div>
    <div><td>Rekening: {{leider.rekening}} euro</td></div>
    <div><td>aanwezigheid: {{leider.afwezigheid}}</td></div>

    {% if leider == current_user %}
                <a href="{{ url_for('edit_profile') }}">Edit your profile</a>
    {% endif %}

{% endblock %}