{% extends "base.html" %}

{% block content %}
{% if current_user.status =='3'%}
    <form action="" method="post">
        {% for form in forms %}
            {{ form.hidden_tag() }}
            <p>{{form.naam}}: {{form.strepen}}
                {{ form.geklusd }} {{ form.geklusd.label }}
                {{ form.submit() }}
            </p>
        {% endfor %}
    </form>
{% endif%}


{% if current_user.status =='1' or current_user.status =='2'%}
    {% for form in forms %}
        <p>{{form.naam}}:{{form.strepen}} </p>
    {% endfor%}
{% endif%}
{% endblock %}
